python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
tiktoken
datasets
sentencepiece
matplotlib
anthropic
scikit-learn
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4
modal
ollama
accelerate
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
