python-dotenv
jupyterlab
ipykernel
ipywidgets
requests
numpy
pandas
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
datasets
sentencepiece
chromadb
plotly
jupyter-dash
beautifulsoup4
modal
psutil
setuptools
speedtest-cli
litellm